################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Everloth.github.io/FileContentIndex/0f06fb44-70af-4e1b-8eb3-a6603fbde747.vsidx
*.vsidx
