/* Background */
body {
    background-image: url('assets/images/BG.jpg');
    background-size: auto;
    background-position: center;
    background-color: #01080a;
    background-repeat: no-repeat;
}

    body.Nether {
        background-image: url('assets/images/NBG.jpg');
    }

    body.End {
        background-image: url('assets/images/EBG.jpg');
    }

/* Main */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 10px;
    background-image: url('assets/images/Nas.png');
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 1);
    border-radius: 10px;
    font-size: 30px;
}

    header.Nether {
        background-image: url('assets/images/NBG.jpg');
    }

    header.End {
        background-image: url('assets/images/EBG.jpg');
    }

.logo {
    display: flex;
    align-items: center;
}

    .logo a {
        text-decoration: none;
        color: inherit;
    }

    .logo img {
        max-width: 80px;
        margin-right: 10px;
    }

    .logo h1 {
        color: #fff;
        font-size: 32px;
        margin-bottom: 25px;
    }

/* NavBar */
nav .icon {
    display: none;
    font-size: 34px;
    cursor: pointer;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline-block;
    margin: 0 15px;
    position: relative;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    display: block;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}

    nav a:hover {
        background-color: #555;
    }

/* Center box */
.center-box {
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 20px 7px rgba(0, 0, 0, 0.3);
    margin: auto;
    margin-bottom: 30px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    max-width: 400px;
    width: 80vh;
    font-size: 24px;
    text-align: center;
}

    .center-box p {
        font-size: 24px;
        margin: 0;
    }

    .center-box h1 {
        font-size: 24px;
        margin: 0;
        text-align: end;
    }

/* Boxes */
.boxes-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

.dl {
    font-size: 30px;
}

.box {
    position: relative;
    overflow: hidden;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 20px 7px rgba(0, 0, 0, 0.3);
    max-height: 400px;
    height: 40vh;
    max-width: 300px;
    width: 20vw;
    margin: auto;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: #fff;
    text-shadow: 2px 5px 5px rgba(0, 0, 0, 1);
    text-decoration: none;
    background-position: center;
    background-size: cover;
    transition: background-color 0.3s ease;
}

.ch {
    align-items: start;
}

.box::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0);
    transition: background 0.3s ease;
}

.box:hover::after {
    background: rgba(0, 0, 0, 0.3);
}

.Ev {
    background-image: url('assets/images/BG.jpg');
}

.Ne {
    background-image: url('assets/images/NBG.jpg');
}

.En {
    background-image: url('assets/images/EBG.jpg');
}

.Mor {
    background-image: url('assets/images/Mortis.png');
}

.NS {
    background-image: url('assets/images/NS.png');
}

.SG {
    background-image: url('assets/images/SG.png');
}

/* Wiki */
.doccon {
    display: flex;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 20px;
}

.wikup {
    margin: 10px 15px 2px 15px;
    padding: 2px 5px 2px 5px;
}

.med {
    position: relative;
    overflow: hidden;
    padding: 5px;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 20px 7px rgba(0, 0, 0, 0.3);
    height: 50vh;
    width: 30vw;
    text-align: center;
    margin-top: 200px;
    margin: 5px;
    display: inline-block;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    color: #fff;
    text-shadow: 2px 5px 5px rgba(0, 0, 0, 1);
    background-position: center;
    background-size: cover;
}

.docbox {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    padding: 10px;
}

    .docbox img {
        border-radius: 8px;
    }

    .docbox h2 {
        margin: 5px;
    }

    .docbox a {
        color: cyan;
        text-decoration: none;
    }

.iicon {
    width: 15vh;
    height: 15vh;
    align-items: center;
}


.wikiobr {
    display: flex;
    flex-direction: column;
    position: left;
    background: #333;
    margin: 10px;
    padding-bottom: 15px;
    border-radius: 10px;
    text-shadow: 2px 5px 5px rgba(0, 0, 0, 1);
}

    .wikiobr img {
        border-radius: 10px;
        width: 350px;
        height: 300px;
    }

    .wikiobr a {
        color: cyan;
        text-decoration: none;
    }

    .wikiobr ul {
        margin-left: 15px;
        margin: 2px;
        list-style-type: none;
    }

    .wikiobr h4 {
        margin: 5px;
    }

.sico {
    content: url('assets/images/Sir.png');
    height: 18px;
}



/* Media query */
@media (max-width: 800px) {
    .boxes-container {
        flex-direction: column;
        align-items: center;
    }

    .box {
        width: 80%;
        max-width: none;
        margin: 10px 0;
        height: auto;
    }

    .med {
        width: 82%;
        padding: -15px;
        max-width: none;
        margin: 5px;
        height: 40vh;
    }

    nav .icon {
        display: block;
        margin-right: 20px;
    }

    header {
        position: relative;
    }

    nav ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: none;
        flex-direction: column;
        position: absolute;
        z-index: 1;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        margin-top: 5px;
        width: 100%;
        background-image: url('assets/images/Nas.png');
        background-size: auto;
        background-position: center;
    }

    .HEV {
        background-image: url('assets/images/Nas.png');
    }

    .HNE {
        background-image: url('assets/images/NBG.jpg');
    }

    .HEN {
        background-image: url('assets/images/EBG.jpg');
    }

    nav ul li {
        display: block;
        text-align: center;
        margin: 0;
    }

    nav ul a {
        padding: 15px;
        display: block;
        color: #fff;
        text-decoration: none;
        transition: background-color 0.3s ease;
    }

        nav ul a:hover {
            background-color: #555;
        }

    .logo h1 {
        font-size: 0;
        margin: 0;
    }

    .menu-icon.active + nav {
        display: flex;
    }

    .iicon {
        width: 10vh;
        height: 10vh;
    }

    .doccon {
        flex-direction: column;
        align-items: center;
        display: flex;
    }

        .doccon p {
            font-size: 15px;
        }

        .doccon td {
            padding: 15px 0 15px 0;
        }

    .docbox {
        order: 2;
        text-align: justify;
    }

        .docbox h2 {
            margin: -5px 5px 5px 5px;
        }

    .wikiobr {
        order: 1;
    }

        .wikiobr img {
            width: 80vw;
        }

}
